*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Propriedades para centralizar o body */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; */
    color: white;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-family: "Lobster", cursive;
    font-weight: lighter;
}

h2 {
    font-size: 8rem;
    font-family: "Lobster", cursive;
    font-weight: lighter;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

p {
    font-size: 2.5rem;
}

li {
    font-size: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

.home {
    background: radial-gradient(#525252, #131313);
}

.nav-container{
    background-color: rgb(7, 7, 7);
}

nav {
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    flex: 1;
    list-style: none;
}

#logo{
    flex: 3;
    position: relative;
}

#logo::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    background: #f54538;
    border-radius: 50%;
    transform: translate(-10%, -20%);
    mix-blend-mode: screen;
}

.order {
    background: #f54538;
    padding: 1rem 2rem;
    border-radius: 2rem;
}